<br>
<div class="row justify-content-center">
    <div class= " col-md-3">
    <img src="../../assets/docss.png" alt="..." class="img-fluid" style="height: 200px; width: 200px;">
    </div>
    <div class = " col-md-7"> <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush container-fuid">
              <li class="list-group-item">Nombre:</li>
              <li class="list-group-item">Titulo</li>
              <li class="list-group-item">Puesto</li>
              <li class="list-group-item">Correo</li>
              <li class="list-group-item">Numero</li>
            </ul>
          </div>
        </div>
        <div class= " col-md-2">
            
            <button class="button" (click)="masinformacion()">Más sobre el Servicio Social</button>
            <br>
          </div>
</div>
<br>
<br>
<br>
<div class="row justify-content-center">
  <div class= " col-md-12" ALIGN="justify">
    <h2 ALIGN="justify">Servicio Social</h2> 

    <h3 ALIGN="justify">¿Qué es?</h3>
<h4 ALIGN="justify">¿Qué es el Servicio Social?</h4>

Es una actividad eminentemente formativa y de servicio, es decir, por un lado afirma y amplía la información académica del estudiante y además permite fomentar en él una conciencia de solidaridad con la sociedad. <br> 

El Servicio Social es una estrategia educativa en su más amplio sentido, es una práctica integral comprometida con la sociedad que permite consolidar la formación y es también es un factor estratégico en la tarea de impulsar el desarrollo municipal, estatal, regional y  nacional; así como para mejorar los mecanismos que conducen a disminuir las desigualdades sociales propiciando mayores oportunidades para un desarrollo individual y comunitario.
<br><br>
<h4 ALIGN="justify">¿Para que sirve?</h4>  
<ul>
    <li>Ayudas a los más necesitados.</li>
    <li>Practicas lo aprendido en el aula.</li>
    <li>Contribuyes a que la Universidad se vincule con la sociedad.</li>
    <li>Te realizas como ser humano.</li>
    <li>¡Aprendes más, para Servir Mejor!</li>
    <li>Fomentas la conciencia de solidaridad, compromiso y reciprocidad social.</li>
    <li>Promueves actitudes reflexivas, críticas y constructivas ante la problemática social, ampliando y evaluando los conocimientos.</li>
</ul>
<br>
<h4 ALIGN="justify">¿Que no es el servicio social?</h4>  
<p>Realizar actividades diversas, tales como: entregar recados, sacar copias, cortar el pasto, entre otras. Cualquier tarea que te sea encomendada o no lleve la intención de fomentar tu participación aplicando los conocimientos profesionales adquiridos, no puede considerarse como Servicio Social.</p>

<br>
<h4 ALIGN="justify">RECUERDA</h4><br>
<h5 ALIGN="justify">EL SERVICIO SOCIAL UNIVERSITARIO ES MÁS QUE UN REQUISITO…</h5>
<p>Es un compromiso solidario que une a tu escuela o facultad y a ti con tu comunidad, donde con tu práctica directa de tus conocimientos, prestas un servicio que repercute en un bien común social y en donde te involucras directamente al ejercicio profesional en el que te estás formando.</p>

</div>

</div>
