<br>
<div *ngFor="let ress of edep"> 
    <h1>{{ress.carrera}}  <img src="../../../assets/FEFyDE.png" style="width: 10%; height: 10%;" class="rounded float-right" alt="..."></h1>
    <br>
    <br>
    <h3>Objetivo</h3>
    <p ALIGN="justify">{{ress.obj}}</p>
    <br>
    <h3>Perfil de Egreso</h3>
    <p ALIGN="justify">{{ress.perfe}}</p>
    <br>
    <br>
    <h3>Perfil de Ingreso</h3>
    <ul *ngFor="let per of ress.perfi">
     <li>{{per}}</li>
      </ul>
    <br>
  </div>
  
<br>
<!--Perfil de Ingreso-->
<div align="justify" >
    <h3>Perfil de Ingreso</h3>
    
    <p style="font-weight:bold">Conocimiento sobre:</p>
    <ul>
        <li>Una sólida Información de la educación deportiva, sus componentes y diferencia con la educación física y la cultura física.</li>
        <li>Función social que desempeña la educación deportiva en nuestra Región, así como su impacto técnico en el proceso de entrenamiento de los deportistas de competencia.</li>
        <li>De los fundamentos deportivos, (Atletismo, Basquetbol, Béisbol, Futbol, Gimnasia, Karate, Natación, Tae Kwon do y Voleibol.)</li>
    </ul>
    <p style="font-weight:bold">Habilidades para:</p>
    <ul>
        <li>Habilidades del pensamiento que permitan el auto-aprendizaje, la asertividad, toma de decisiones, creatividad y autogestión.</li>
        <li>Reconocer y diferenciar actividades posturales y movimientos convenientes e inconvenientes, así como dificultades en la realización de actividades y destreza corporal.</li>
        <li>Aprender en forma Autodidacta.</li>
        <li>La comunicación oral y escrita.</li>
    </ul>
    <p style="font-weight:bold">Capacidades para:</p>
    <ul>
        <li>Utilizar y promover el uso de normas y principios de cuidados del cuerpo propio, de los otros y preservación del ambiente.</li>
        <li>Desempeñarse profesionalmente en diferentes instituciones (Escolares, Civiles, Privadas, etc.).</li>
        <li>Eficiencia en el uso de las nuevas tecnologías (Cd ROM, Foros, Correo electrónico, Páginas en Internet).</li>
        <li>Aplicar todos sus conocimientos en el mejor desempeño de sus trabajos como asesor y detectar las necesidades de los participantes para orientarlos con calidad.</li>
        <li>Saber diseñar modos de asistencia o tutorías según el modelo creado.</li>
    </ul>
    <p style="font-weight:bold">Destrezas:</p>
    <ul>
        <li>Manejo de herramientas y medios.</li>
    </ul>
    <p style="font-weight:bold">Actitudes de:</p>
        <ul>
            <li>Respeto y valoración personal y hacia los demás.</li>
            <li>Espíritu de servicio.</li>
        </ul>
     <p style="font-weight:bold">Competencias:</p>
     <ul>
      <li>Proyectos de investigación. </li>
    </ul>
</div>

<br>