<br>
<br>
<div class="container justify-content-center">
    <div class="row justify-content-center">
    
        <p>
          <a href="adm/docentes" class="btn btn-sq-lg btn-primary">
              <br>
              <img src="../../../assets/maestro.png"   style="width: 50%; height: 50%;" alt="..."> <br>
              <i class="fa fa-user fa-5x"></i><br/>
              DOCENTES<br>
          </a>
          <a href="adm/eventos" class="btn btn-sq-lg btn-primary">
              <br>
              <img src="../../../assets/eventos.png"   style="width: 50%; height: 50%;" alt="..."> <br>
              <i class="fa fa-user fa-5x"></i><br/>
              EVENTOS 
          </a>
          <a href="adm/noticias" class="btn btn-sq-lg btn-primary">
              <br>
              <img src="../../../assets/noticias.png"   style="width: 50%; height: 50%;" alt="..."> <br>
              <i class="fa fa-user fa-5x"></i><br/>
              NOTICIAS 
          </a>
          <a href="adm/departamentos" class="btn btn-sq-lg btn-primary">
              <br>
              <img src="../../../assets/depart.png"   style="width: 50%; height: 50%;" alt="..."> <br>
              <i class="fa fa-user fa-5x"></i><br/>
              DEPARTAMENTOS
          </a>
          <a href="adm/ofertas" class="btn btn-sq-lg btn-primary">
              <br>
              <img src="../../../assets/oferta.png"   style="width: 50%; height: 50%;" alt="..."> <br>
              <i class="fa fa-user fa-5x"></i><br/>
              OFERTA ACADEMICA
          </a>
          
        </p>
  
</div>