<br>
<div *ngFor="let ress of efisica"> 
    <div class="contenedor" >
      <img class="img-fluid"  alt="Responsive image" src="../../../assets/portada.png" />
      <h1 class="sobre">{{ress.carrera}}  <img src="../../../assets/FEFyDE.png" style="width: 10%; height: 10%;" class="rounded float-right" alt="..."></h1>
    </div>
  
  <br>
  <br>
  <h3>Objetivo</h3>
  <p ALIGN="justify">{{ress.obj}}</p>
  <br>
  <h3>Perfil de Egreso</h3>
  <p ALIGN="justify">{{ress.perfe}}</p>
  <br>
  <br>
  <h3>Perfil de Ingreso</h3>
  <ul *ngFor="let per of ress.perfi">
   <li>{{per}}</li>
    </ul>
  <br>
</div>
