<br>
<div *ngFor="let ress of carreras"> 
  <h1>{{ress.carrera}}  <img src="../../../assets/FEFyDE.png" style="width: 10%; height: 10%;" class="rounded float-right" alt="..."></h1>
  <br>
  <br>
  <h3>Objetivo</h3>
  <p ALIGN="justify">{{ress.obj}}</p>
  <br>
  <h3>Perfil de Egreso</h3>
  <p ALIGN="justify">{{ress.perfe}}</p>
  <br>
  <br>
  <h3>Perfil de Ingreso</h3>
  <ul>
    <li>Conocimientos generales.</li>
    <li>Adecuada expresión de lecto-escritura.</li>
    <li>Uso adecuado de nuevas tecnologías.</li>
    <li>Disponibilidad corporal para la actividad física.</li>
    </ul>
  <br>
</div>
