
<div class="row justify-content-md-center" >
  
<div class="col-md-2 d-none d-md-block d-xs-none"  style=" width: 100%; color: white;">
  <br> <img src="../../assets/FEFyDE.png" class="d-inline-block align-top img-fluid" alt=""></div>
 <div class="col-md-8"><div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h3>Directorio</h3>
       <br>
       <h5>Dr. Juan Eulogio Guerra Liera
         <br>
        <h6>Rector</h6> 
       </h5>
       <br>
       <h5>MC. Jesús Madueña Molina
           <br>
          <h6>Secretario General</h6> 
         </h5>
         <br>
       <h5>MC. Manuel de Jesús Lara Salazar
           <br>
          <h6>Secretario de Administración y Finanzas
           </h6> 
         </h5>
         <br>
       <h5>Dr. Juan Ignacio Velázquez Dimas
             <br>
            <h6>Secretario Académico Universitario
             </h6> 
         </h5>
       <br>
         <h5>MC. Toribio Ordóñez Lagarde
             <br>
            <h6>Vicerrector Unidad Regional Norte
             </h6> 
         </h5>
         <br>
         <h5>M.C. Mauricio Avendaño Soto
             <br>
            <h6>Director de la FEFyDE
             </h6> 
         </h5>
         <br>
         <h5>MC. Luis Roberto Cazares Hernández
             <br>
            <h6>Coordinador de la FEFyDE
       
               Ext. Los Mochis
             </h6> 
         </h5>
         <br>
         <h5>LEF. Alicia Adriana Zazuta Valdez
          <br>
         <h6>Coordinadora del Servicio Social FEFyDE
    
            Ext. Los Mochis
          </h6> 
      </h5>
       
       
       
       
       
       
       
       
       
       
       </div>
      <br>
    </div>
 <div class="col-md-2 d-none d-md-block d-xs-none" style="color: white;"></div>
</div>
</div> 

