<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">

  <img src="../assets/FEFyDE.png" width="30" height="30" class="d-inline-block align-top" alt="">FEFyDE Los Mochis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="ss" >Servicio Social</a>
       
      </li>
    
      <li class="nav-item">
          <a class="nav-link" href="Dir">Directorio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Oferta Educativa
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="licef">Lic. En Educación Física</a>
            <a class="dropdown-item" href="liced">Lic. En Educación Deportiva</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="programa">Programa educativo</a>
          </div>
        </li>  

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Acerca de...
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="mensaje">Mensaje de bienvenida</a>
          <a class="dropdown-item" href="historia">Historia</a>
          <a class="dropdown-item" href="docentes">Docencentes</a>
          <a class="dropdown-item" href="MyV">Misión, Visión y Valores</a>
          <a class="dropdown-item" href="obj">Objetivo</a>
          <a class="nav-link" href="Dir">Directorio</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="ubi">Ubicación</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
  
      <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="login"  > Soy Administrador </button>
    </form>
  </div>
</nav>
<div class="col-xs-12 col-sm-10 col-md-12 col-sm-offset-1 col-md-offset 2">

<div class="row justify-content-md-center" >
  
  <div class="col-md-12">
    <div class="container-fluid">
      
    <div><router-outlet ></router-outlet></div>
  </div>
</div>
 
</div>

 
<!-- Footer -->
<footer class="footer">

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row ">

      <!-- Grid column -->
      <div class="col-md-12">
        <div class="row justify-content-md-center">
        <div class="mb-5 ">
          <!-- Facebook -->
          <div class="text-center">
          <br>
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" (click)="irfacebook()"><img src="../assets/fbb.png" style="width: 50px; height: 50px; " alt=""> </i>
          </div>
        </div>
         <!-- Ubicacion -->
         
       <div class="text-center">
          <br>
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" (click)="irubicacion()"><img src="../assets/ubication.png" style="width: 50px; height: 50px; " alt=""> </i>
      </div>
      <div > <button class="container-fluid" style="color: white; background: #052654" (click)="ConsultaCalificacion()">Consultar Calificaciones</button></div>
      <br>
        </div>
      </div>
      <!-- Grid column -->
     
    </div>
    
  </div>
  <div class="footer-copyright text-center py-3" style="color: white;">Facultad de Educación Física y Deportes Extensión Los Mochis  
  </div>
</footer>
<!-- Footer -->
</div>
