<br>
<a href="menuadmin" class="btn btn-primary" (click)="regresar()" >
  <img src="../../assets/back.png" alt="..." class="img-fluid" style="height: 25px; width: 25px;">
</a>

<br>
<!-- Button Para Abrir Modal-->
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Agregar Personal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alta De Personal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="docForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
                  <label for="titulo">Titulo De La Persona*</label>
                  <i class="fa fa-check-circle check" *ngIf="docForm.controls.titulo.valid"></i>
                  <i class="fa fa-exclamation-circle uncheck" *ngIf="docForm.controls.titulo.invalid &&
                          docForm.controls.titulo.touched"></i>
                  <input type="text" class="form-control" id="titulo"  placeholder="Titulo" formControlName="titulo">
                  
                  <p class="alert alert-danger" *ngIf="docForm.controls.titulo.invalid &&
                          docForm.controls.titulo.touched">
                          El campo Titulo es obligatorio</p>
                  </div>
                  <div class="form-group">
                    <label for="nombre">Nombre Completo*</label>
                    <i class="fa fa-check-circle check" *ngIf="docForm.controls.nombre.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="docForm.controls.nombre.invalid &&
                            docForm.controls.nombre.touched"></i>
                    <input type="text" class="form-control" id="nombre"  placeholder="Nombre completo" formControlName="nombre">       
                    <p class="alert alert-danger" *ngIf="docForm.controls.nombre.invalid &&
                            docForm.controls.nombre.touched">
                            Es obligatorio este campo</p>
                  </div>
                  <div class="form-group">
                    <label for="correo">Correo*</label>
                    <i class="fa fa-check-circle check" *ngIf="docForm.controls.correo.valid"></i>
                    <i class="fa fa-exclamation-circle uncheck" *ngIf="docForm.controls.correo.invalid &&
                            docForm.controls.correo.touched"></i>
                    <input type="text" class="form-control" id="correo"  placeholder="Ejemplo@fefyde.com" formControlName="correo">       
                    <p class="alert alert-danger" *ngIf="docForm.controls.correo.invalid &&
                            docForm.controls.correo.touched">
                            Es obligatorio este campo</p>
                  </div>
        </form>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="agregar()" [disabled]="!this.docForm.valid">
          Registrar Docente
        </button>
      </div>
    </div>
  </div>
</div>
<br>

<div class="row justify-content-center">
  <div class="col-md-6">
      
      <mat-accordion>
          <mat-expansion-panel  class="modal-header">
            <mat-expansion-panel-header class="card-header" ><div><img  style="width: 25px; height: 25px;"  src="../../../assets/img/empresa.png" alt=""></div>
              &nbsp; &nbsp; <h3>Nombre</h3>
            </mat-expansion-panel-header >
                <div><img  style="width: 25px; height: 25px;"  src="../../../assets/img/job.png" alt=""> &nbsp; &nbsp; Materias que imparte:</div>
                <div><img  style="width: 25px; height: 25px;"  src="../../../assets/img/enter.png" alt=""> &nbsp; &nbsp; correo </div>
          </mat-expansion-panel>
      </mat-accordion>
  <br>
  <br>
</div>
</div>

  